<div class="modal">

  <ion-header-bar class="bar-secondary">
    <h1 class="title" ng-show="currenctTaskId == -1">New Task</h1>
    <h1 class="title" ng-show="currenctTaskId > -1">Edit Task</h1>
    <button class="button button-clear button-positive " ng-click="closeTask()">Cancel</button>
  </ion-header-bar>

  <ion-content>
    <form name="taskForm" ng-submit="submitTask(activeTask)">
      <div class="list">
        <label class="item item-input">
        <input type="text" name="taskName" placeholder="Task . . ." ng-model="activeTask.title" required>
      </label>
        <label class="item item-input">
          <textarea rows="6" placeholder="Description . . ." ng-model="activeTask.description" >
          </textarea>
        </label>
        <ul class="list">
          <li class="item item-toggle">
          <span class="toggle-item">
            Done!
          </span>
            <label class="toggle toggle-positive">
              <input type="checkbox" ng-model="activeTask.done">
              <div class="track">
                <div class="handle">

                </div>
              </div>
            </label>
          </li>
        </ul>
        <div class="padding">
          <button type="submit" class="button button-block button-positive" ng-show="currenctTaskId == -1" ng-click="taskForm.$invalid && preview()">Add</button>
          <button type="submit" class="button button-block button-positive" ng-show="currenctTaskId > -1" ng-click="taskForm.$invalid && preview()">Save</button>
        </div>
      </div>

    </form>

  </ion-content>

</div>
